:root {
  --primary: rgb(19, 1, 1);
  --secondary: rgb(189 229 253);
  --third: rgb(59, 72, 80);
  --fourth: rgb(122, 122, 122);
  --background-primary: rgb(27, 27, 27);
  --font-1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --font-2: Verdana, Geneva, Tahoma, sans-serif;
  --border: 1px solid gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary);
  font-family: var(--font-1);
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--background-primary);
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 100px;
}
.boards .player-board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  grid-gap: 1px;
}
.boards .AI-board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  grid-gap: 1px;
}
.boards .square {
  outline: var(--border);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  border: var(--border);
  border-radius: 10px;
  background-color: var(--third);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}
.start input {
  height: 30px;
  background-color: var(--fourth);
  color: var(--secondary);
  border: none;
  padding: 15px;
  text-align: center;
}
.start button {
  background-color: inherit;
  border: none;
  padding: 15px;
  color: var(--secondary);
}
.start h1 {
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.place-ships {
  border: var(--border);
  border-radius: 10px;
  background-color: var(--third);
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.place-ships .player-board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  grid-gap: 1px;
}
.place-ships .ships {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 1px;
  grid-auto-flow: column;
}
.place-ships .square {
  outline: var(--border);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-ships .carrier {
  width: 250px;
  height: 50px;
  background-color: black;
}
.place-ships .battleship {
  width: 200px;
  height: 50px;
  background-color: rgb(199, 154, 154);
}
.place-ships .destroyer {
  width: 150px;
  height: 50px;
  background-color: rgb(151, 139, 139);
}
.place-ships .submarine {
  width: 150px;
  height: 50px;
  background-color: rgb(255, 229, 229);
}
.place-ships .patroller {
  width: 100px;
  height: 50px;
  background-color: rgb(94, 26, 26);
}

.drop-active {
  border-color: rgb(163, 112, 112);
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.draggable.can-drop {
  color: #000;
  background-color: #4e4;
}

.rotate {
  transform: rotate(90deg);
}

/*# sourceMappingURL=style.css.map */
