:root {
    --primary: rgb(19, 1, 1);
    --secondary: rgb(189 229 253);
    --third: rgb(59, 72, 80);
    --fourth: rgb(122, 122, 122);
    --hit: red;
    --miss: blue;
    --background-primary: rgb(27, 27, 27);
    --font-1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-2: Verdana, Geneva, Tahoma, sans-serif;
    --border: 1px solid gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary);
    font-family: var(--font-1);
    font-size: 10px;
    // text-shadow: 1px 1px 1px black;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--background-primary);
}

.boards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 100px;

    .player-board {
        display: grid;
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(10, 50px);
        grid-gap: 1px;

        .carrier-1 {
            background-image: url("./assets/carrier/1.png");
            background-position: center;
            background-size: cover;
        }

        .carrier-2 {
            background-image: url("./assets/carrier/2.png");
            background-position: center;
            background-size: cover;
        }

        .carrier-3 {
            background-image: url("./assets/carrier/3.png");
            background-position: center;
            background-size: cover;
        }

        .carrier-4 {
            background-image: url("./assets/carrier/4.png");
            background-position: center;
            background-size: cover;
        }

        .carrier-5 {
            background-image: url("./assets/carrier/5.png");
            background-position: center;
            background-size: cover;
        }

        .battleship-1 {
            background-image: url("./assets/battleship/1.png");
            background-position: center;
            background-size: cover;
        }

        .battleship-2 {
            background-image: url("./assets/battleship/2.png");
            background-position: center;
            background-size: cover;
        }

        .battleship-3 {
            background-image: url("./assets/battleship/3.png");
            background-position: center;
            background-size: cover;
        }

        .battleship-4 {
            background-image: url("./assets/battleship/4.png");
            background-position: center;
            background-size: cover;
        }

        .destroyer-1 {
            background-image: url("./assets/destroyer/1.png");
            background-position: center;
            background-size: cover;
        }

        .destroyer-2 {
            background-image: url("./assets/destroyer/2.png");
            background-position: center;
            background-size: cover;
        }

        .destroyer-3 {
            background-image: url("./assets/destroyer/3.png");
            background-position: center;
            background-size: cover;
        }

        .submarine-1 {
            background-image: url("./assets/submarine/1.png");
            background-position: center;
            background-size: cover;
        }

        .submarine-2 {
            background-image: url("./assets/submarine/2.png");
            background-position: center;
            background-size: cover;
        }

        .submarine-3 {
            background-image: url("./assets/submarine/3.png");
            background-position: center;
            background-size: cover;
        }

        .patroller-1 {
            background-image: url("./assets/patroller/1.png");
            background-position: center;
            background-size: cover;
        }

        .patroller-2 {
            background-image: url("./assets/patroller/2.png");
            background-position: center;
            background-size: cover;
        }
    }

    .AI-board {
        display: grid;
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(10, 50px);
        grid-gap: 1px;
        cursor: progress;
    }

    .square {
        outline: var(--border);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: transparent;
        user-select: none;
    }

    .AI-square {
       cursor: pointer; 
    }
}

.start {
    border: var(--border);
    border-radius: 10px;
    background-color: var(--third);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;

    input {
        height: 30px;
        background-color: var(--fourth);
        color: var(--secondary);
        border: none;
        padding: 15px;
        text-align: center;
    }

    button {
        background-color: inherit;
        border: none;
        padding: 15px;
        color: var(--secondary);
    }

    h1 {
        font-size: 1.5rem;
        padding: 10px;
        text-align: center;
    }
}

.place-ships {
    border-radius: 10px;
    background-color: var(--third);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    .player-board {
        display: grid;
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(10, 50px);
        grid-gap: 1px;
    }

    .ships {
        display: grid;
        grid-template-rows: repeat(5, 50px);
        grid-gap: 52px;
        grid-auto-flow: column;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        justify-items: center;
        filter: drop-shadow(10px 5px 0px black);
    }

    .square {
        outline: var(--border);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carrier {
        background-image: url("./assets/carrier.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .carrier.vertical {
        background-image: url("./assets/carrier-rotated.png");
    }

    .battleship {
        background-image: url("./assets/battleship.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .battleship.vertical {
        background-image: url("./assets/battleship-rotated.png");
    }

    .destroyer {
        background-image: url("./assets/destroyer.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .destroyer.vertical {
        background-image: url("./assets/destroyer-rotated.png");
    }

    .submarine {
        background-image: url("./assets/submarine.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .submarine.vertical {
        background-image: url("./assets/submarine-rotated.png");
    }

    .patroller {
        background-image: url("./assets/patroller.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .patroller.vertical {
        background-image: url("./assets/patroller-rotated.png");
    }

    button {
        background-color: inherit;
        border: none;
        padding: 15px;
        color: var(--secondary);
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
    }
}

.hidden {
    visibility: hidden;
}

.rotated {
    transform: rotate(90deg);
}

.disabled {
    pointer-events: none;
}

.hit::after {
    content: "x";
    color: var(--hit);
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.miss::after {
    content: "x";
    color: var(--miss);
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.drop-active {
    border-color: rgb(163, 112, 112);
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.draggable.can-drop {
    color: #000;
    background-color: #4e4;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--background-primary);
    color: var(--secondary);
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25vh;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 25vh;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 25vh;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 25vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 25vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}